<PluginDeployer>
  <Connections>
    <Connection>
      <Name>k1607</Name>
      <OrgId>aae1c37f-f044-4e9a-894e-9bac00f742d4</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vazE2MDcuY3JtNi5keW5hbWljcy5jb207VXNlcm5hbWU9YWRtaW5AazE2MDcub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdwYXNzQHdvcmQxJzs=</ConnectionString>
      <Version>8.1.0.367</Version>
    </Connection>
  </Connections>
  <Assemblies />
</PluginDeployer>