<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>k1607</Name>
      <OrgId>aae1c37f-f044-4e9a-894e-9bac00f742d4</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vazE2MDcuY3JtNi5keW5hbWljcy5jb207VXNlcm5hbWU9YWRtaW5AazE2MDcub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdwYXNzQHdvcmQxJzs=</ConnectionString>
      <Version>8.1.0.367</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>aae1c37f-f044-4e9a-894e-9bac00f742d4</OrgId>
      <Path>/scripts/Mrxrm.PhoneNumberValidation.js</Path>
      <WebResourceId>f6b31cb0-2358-e611-80e6-c4346bc58294</WebResourceId>
      <WebResourceName>mrxrm_/scripts/Mrxrm.PhoneNumberValidation.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>