<SolutionPackager>
  <Connections>
    <Connection>
      <Name>k1605</Name>
      <OrgId>1e9595da-2e3a-495d-a5e8-b2aa298929dc</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vazE2MDUuY3JtNi5keW5hbWljcy5jb207VXNlcm5hbWU9YWRtaW5AazE2MDUub25taWNyb3NvZnQuY29tO1Bhc3N3b3JkPSdwYXNzQHdvcmQxJzs=</ConnectionString>
      <Version>8.1.0.359</Version>
    </Connection>
  </Connections>
  <Solutions>
    <Solution>
      <OrgId>1e9595da-2e3a-495d-a5e8-b2aa298929dc</OrgId>
      <ProjectName>CRMSolutionPackage1</ProjectName>
      <SolutionId>4a2b65e4-8125-e611-80db-c4346bc4beac</SolutionId>
      <DownloadManaged>false</DownloadManaged>
    </Solution>
  </Solutions>
</SolutionPackager>