<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Welly Demo 1</Name>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vZnVzaW9uNWQzNjVkZW1vMS5jcm02LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1hZG1pbkBmdXNpb241MDY2Lm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0nUGFzc3cwcmQxJztBdXRoVHlwZT1PZmZpY2UzNjU7UmVxdWlyZU5ld0luc3RhbmNlPXRydWU7</ConnectionString>
      <Version>8.2.0.774</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/index.html</Path>
      <WebResourceId>c443b32d-1ee1-e611-8105-c4346bc562c4</WebResourceId>
      <WebResourceName>mrxrm_/scripts/index.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/inline.0de8cd3c31d61fb07ec1.bundle.js</Path>
      <WebResourceId>4f3c8234-1ee1-e611-8105-c4346bc562c4</WebResourceId>
      <WebResourceName>mrxrm_/scripts/inline.0de8cd3c31d61fb07ec1.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/main.31d7471dad035cad4bab.bundle.js</Path>
      <WebResourceId>523c8234-1ee1-e611-8105-c4346bc562c4</WebResourceId>
      <WebResourceName>mrxrm_/scripts/main.31d7471dad035cad4bab.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/styles.d41d8cd98f00b204e980.bundle.css</Path>
      <WebResourceId>0eb2ca3b-1ee1-e611-8105-c4346bc562c4</WebResourceId>
      <WebResourceName>mrxrm_/scripts/styles.d41d8cd98f00b204e980.bundle.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/vendor.e186f81472a86e0b6931.bundle.js</Path>
      <WebResourceId>8d665a46-1ee1-e611-8105-c4346bc562c4</WebResourceId>
      <WebResourceName>mrxrm_/scripts/vendor.e186f81472a86e0b6931.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/inline.bundle.js</Path>
      <WebResourceId>6a4a270d-23e1-e611-8102-1458d05a2ab0</WebResourceId>
      <WebResourceName>mrxrm_/scripts/inline.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/main.bundle.js</Path>
      <WebResourceId>1b5f3815-23e1-e611-8102-1458d05a2ab0</WebResourceId>
      <WebResourceName>mrxrm_/scripts/main.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/styles.bundle.css</Path>
      <WebResourceId>1e5f3815-23e1-e611-8102-1458d05a2ab0</WebResourceId>
      <WebResourceName>mrxrm_/scripts/styles.bundle.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/vendor.bundle.js</Path>
      <WebResourceId>e40ffe30-23e1-e611-8102-1458d05a2ab0</WebResourceId>
      <WebResourceName>mrxrm_/scripts/vendor.bundle.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>0c0ec698-15d4-4939-888e-fe9e2f7f30b3</OrgId>
      <Path>/scripts/index.html</Path>
      <WebResourceId>95808a44-23e1-e611-8102-1458d05a2ab0</WebResourceId>
      <WebResourceName>mrxrm_/scripts/index.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>